<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navbar" class="navbar bg-body-tertiary" style="margin-bottom: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tasks">To do list</a>
        <button class="navbar-toggler" type="button" th:if="${session.loginUser != null}"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tasks">Home</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                        <button type="submit" class="nav-link"
                                style="background:none; border:none; padding:0; color:inherit; cursor:pointer;">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
