<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="to-do-form">
    <div class="form-group">
        <input type="text" th:field="*{task}" class="form-control"
               placeholder="내용을 입력하세요"
               th:class="${#fields.hasErrors('task')}? 'form-control
fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('task')}"
           th:errors="*{task}">Incorrect</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>