<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="to-do-list" style="margin-top:1rem">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>to do</th>
            <th style="width : 4rem">done</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td>
                <a th:text="${todo.task}" th:href="@{/{param}(param=${todo.id})}"></a>
            </td>
            <td>
                <input type="checkbox"
                       class="form-check-input"
                       th:checked="${todo.completed}"
                       th:attr="data-id=${todo.id}"
                       onchange="updateTaskStatus(this)">
            </td>
        </tr>
        </tbody>
    </table>
</div>